@{
    int UserId = (int)Context.Session.GetInt32("userId");

}
@model Job
@* ---------NavBar Partial----------*@
@await Html.PartialAsync("_NavBar")


<div class="container ">
    <div class="row d-flex justify-content-between align-items-center">
        <div class="col-6">
            @* ---------Card For Viewing OneJob----------*@
                <div class="card mb-3">  
                    <h3 class="card-header bg-warning text-light">@Model.Title</h3>
                    <div class="card-body text-dark">
                        <p class="card-text">@Model.Description</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Location:<span class="text-dark"> @Model.Location</span></li>
                        <li class="list-group-item">Posted By: <span class="text-dark">@Model.Creator.FName @Model.Creator.LName</li>
                    </ul>
                    @* ---------Buttons for User In session----------*@
                    <div class="card-footer text-muted">
                       Posted On : @Model.CreatedAt
                    </div>
                </div><br>
                @* ---------add to My Jobs Button ----------*@
                @if (UserId != Model.UserId){

                
                @if(UserId !=Model.WorkerId ){
                <form method="post" asp-action="AddToMyJobs" asp-route-jobId="@Model.JobId">
                  <div class="d-grid gap-2">
                    <button class="btn btn-lg btn-outline-success" type="submit">Add To My Jobs</button>
                </div> 
                </form>
                }
                else{
                    <form asp-action="DeleteJob" asp-route-JobId="@Model.JobId" method="post" onsubmit="return confirm('Are you sure you want to mark this job as done?');" method="post">
                            <div class="d-grid gap-2">
                                    <button class="btn btn-lg btn-outline-success" type="submit">Done</button>
                            </div>
                    </form><br>
                    <form asp-action="Cancel" asp-route-JobId="@Model.JobId" method="post" onsubmit="return confirm('Are you sure you want to Cancel this job ?');" method="post">
                            <div class="d-grid gap-2">
                                    <button class="btn btn-lg btn-outline-danger" type="submit">Cancel</button>
                            </div>
                    </form>
                }
                }else
                {
                   <div class="d-flex justify-content-end gap-2">
                        <button class="btn btn-lg btn-outline-success "><a href="/edit/@Model.JobId" class="text-dark">Edit</a></button>                
                        <form asp-action="DeleteJob" asp-route-JobId="@Model.JobId" method="post"  onsubmit="return confirm('Are you sure you want to Dalete this job: @Model.Title?');">
                            <button type="submit" class="btn btn-lg btn-outline-danger text-dark ">Delete</button>
                        </form>
                    </div>
                }
                 
            </div>
        @* ---------Image For esthetics----------*@
        <div class="col-6" >
            <img src="https://img.freepik.com/premium-vector/person-sits-chair-man-has-idea-programmer-flat-design-man-with-laptop_616756-9.jpg?w=740"
               style="size:20%" alt="">
        </div>
    </div>
   
</div>
