@{
    int UserId = (int)Context.Session.GetInt32("userId");

}
@model Job
@* ---------NavBar Partial----------*@
@await Html.PartialAsync("_NavBar")


<div class="container ">
    <div class="row d-flex justify-content-between align-items-center">
        <div class="col-6">
            @* ---------Card For Viewing OneJob----------*@
                <div class="card mb-3">  
                    <h3 class="card-header bg-warning text-light">@Model.Title</h3>
                    <div class="card-body text-dark">
                        <p class="card-text">@Model.Description</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Location:<span class="text-dark"> @Model.Location</span></li>
                        <li class="list-group-item">Posted By: <span class="text-dark">@Model.Creator.FName @Model.Creator.LName</li>
                    </ul>
                    @* -----------------------------------------------*@
                    <div class="card-footer text-muted">
                       Posted On : @Model.CreatedAt
                    </div>
                </div>
                    @* ---------Buttons for User In session----------*@
                    @if(UserId==Model.UserId){
                    <div class="d-grid gap-2">
                        <button class="btn btn-lg btn-outline-success "><a href="/edit/@Model.JobId" class="text-dark">Edit</a></button>                
                        <button class="btn btn-lg btn-outline-danger "><a href="/delete/@Model.JobId" class="text-dark">Delete</a></button>
                      
                    </div>
                    }
                @* ---------add to My Jobs Button ----------*@
                @if ( UserId!=Model.Creator.UserId){
                @if(@Model.myUsers.Any(f =>f.UserId == UserId)){
                    <form asp-action="AddToFavorites" asp-route-JobId="@Model.JobId" method="post">
                    <div class="d-grid gap-2">
                            <button class="btn btn-lg btn-outline-success" type="submit">Add To My Jobs</button>
                    </div>
                    </form>}
                    else{
                    <form asp-action="Done" asp-route-JobId="@Model.JobId" method="post">
                        <div class="d-grid gap-2">
                                <button class="btn btn-lg btn-outline-danger" type="submit">Done</button>
                        </div>
                    </form>}
                    }
            </div>
        @* ---------Image For esthetics----------*@
        <div class="col-6" >
            <img src="https://img.freepik.com/premium-vector/person-sits-chair-man-has-idea-programmer-flat-design-man-with-laptop_616756-9.jpg?w=740"
               style="size:30%" alt="">
        </div>
    </div>
   
</div>

<style>
    a {
text-decoration: none !important;
}
</style>